.app {
  position: relative;
  min-height: 100vh;
}

.global-aurora {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

main {
  position: relative;
  z-index: 1;
}